<section>
  <figure class="figure-hero">
    <img class="hero" src="./assets/images/backgroung-header.jpg" />
  </figure>
  <form class="form">
    <input
      class="form__input js-input"
      type="search"
      name="input"
      placeholder="   Naruto"
      id="input"
    />
    <button class="form__button form__button-search js-btn-search">
      Buscar
    </button>
    <button class="form__button form__button-reset js-btn-reset">Reset</button>
    <button class="js-btn-log">Log</button>
  </form>
</section>
