.anime{
    display: flex;
    flex-direction: column;

    @media all and (min-width: 768px){
        flex-direction: row;
    }

    &__favorite{
        border: 3px solid $color-font;
        margin: 20px;
        flex-wrap: wrap;
        
        @media all and (min-width: 768pxpx){
            width: 30%;
        }

        &-title{
            background-color: $color-font;
            color: $color-background;
            font-size: 30px;
            text-align: center;    
        }
        
        &-list{
            list-style-type: none;
            margin: 10px 10px 10px 10px;
            display: flex;
            flex-wrap: wrap;
            
            &-title{
                margin-bottom: 10px;
                width: 80px;
                text-align: center;
                font-size: 14px;
                font-size: 10px;    
            }

            &-image{
                width: 80px;
            }

            &-container{
                align-items: center;
                margin-bottom: 10px;
                display: flex;
                border: solid 1px $color-font;
                
                @media all and (min-width: 768pxpx){
                    width: 30%;
                }
            }
        }



    }

    &__results{
        border: 3px solid $color-font-secondary;
        margin: 20px;

        @media all and (min-width: 768pxpx){
            width: 60%;
        }

        &-title{
            background-color: $color-font-secondary;
            color: $color-background;
            font-size: 30px;
            text-align: center;
        }

        &-ul{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        &-list{
            list-style-type: none;
            margin: 5px;
            width: 250px;         

            &-container{
                display: flex;
                flex-direction: column;
                align-items: center;   
            }

            &-title{
                color: $color-font-secondary;
                margin-bottom: 10px;
                text-align: center;
                font-size: 16px;
                text-transform: uppercase;
            }

            &-image{
                width: 150px;
            }
        }
    }
}

.icon{
    padding: 20px;
    margin-right: 20px;
    color: $color-font;
    font-size:x-large;
    
    &:hover {
        color: $color-font-secondary;
      }
}

//MODIFIERS
.favorite-click{
    border: solid 2px $color-font;
}

.favorite-click-text{
    color: $color-font;
}

